<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="ocularium.simpleocl.actionSet">
         <menu
               id="simpleocl"
               label="%menu_group"
               path="tool/simpleocl">
         </menu>
         <action
			   label="%export_label"
               icon="icons/sample.gif"
               class="ocularium.actions.ExportOCLAction"
               tooltip="%export_tooltip"
               menubarPath="tool/simpleocl/"
               id="simpleoclexport">
         </action>
          <action
			   label="%import_label"
               icon="icons/sample.gif"
               class="ocularium.actions.ImportOCLAction"
               tooltip="%import_tooltip"
               menubarPath="tool/simpleocl/"
               id="simpleoclimport">
         </action>        

     </actionSet>
   </extension>
      <extension point="com.change_vision.astah.ui.view">
        <view
            id="ocularium.views.OculariumView"
            type="extraTab"
            class="ocularium.views.OculariumView" />
   </extension>
</plugin>
