<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="ocularium.simpleocl.actionSet">
         <menu
               id="simpleocl"
               label="%menu_group"
               path="tool/simpleocl">
         </menu>
                  <action
			   label="%export_label"
               icon="icons/sample.gif"
               class="ocularium.ImportOCLAction"
               tooltip="%export_tooltip"
               menubarPath="tool/simpleocl/"
               id="simpleocl">
         </action>
          <action
			   label="%import_label"
               icon="icons/sample.gif"
               class="ocularium.ImportOCLAction"
               tooltip="%import_tooltip"
               menubarPath="tool/simpleocl/"
               id="simpleocl">
         </action>        

     </actionSet>
   </extension>
</plugin>
